{% assign svgSquare = "1.5em" %}
{% assign initFill = "#333333" %}

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="{{ svgSquare }}" height="{{ svgSquare }}" viewBox="638.6 -88.8 242.8 242.8">
	<v:documentProperties v:langID="6153" v:viewMarkup="false"/>

	<style type="text/css">
	<![CDATA[
		.st1 {fill:#d96666;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
		.st2 {fill:#92d050;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
		.st3 {fill:#339933;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
		.st4 {fill:#cc3333;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
		.st5 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}
	]]>
	</style>

	<g v:mID="0" v:index="1" v:groupContext="foregroundPage">
		<title>Layer_1</title>
		<v:pageProperties v:drawingScale="1" v:pageScale="1" v:drawingUnits="19" v:shadowOffsetX="9" v:shadowOffsetY="-9"/>
		<g id="shape23-1" v:mID="23" v:groupContext="shape" transform="translate(203.073,-79.6629)">
			<title>Sheet.23</title>
			<rect x="0" y="184.492" width="58.2519" height="13.5077" class="st1"/>
		</g>
		<g id="shape24-3" v:mID="24" v:groupContext="shape" transform="translate(203.073,-55.349)">
			<title>Sheet.24</title>
			<rect x="0" y="184.492" width="58.2519" height="13.5077" class="st1"/>
		</g>
		<g id="shape25-5" v:mID="25" v:groupContext="shape" transform="translate(203.073,-29.6844)">
			<title>Sheet.25</title>
			<rect x="0" y="184.492" width="58.2519" height="13.5077" class="st1"/>
		</g>
		<g id="shape26-7" v:mID="26" v:groupContext="shape" transform="translate(203.073,-5.83216)">
			<title>Sheet.26</title>
			<rect x="0" y="184.492" width="58.2519" height="13.5077" class="st1"/>
		</g>
		<g id="shape27-9" v:mID="27" v:groupContext="shape" transform="translate(-4.21401,192.798) rotate(-90)">
			<title>Sheet.27</title>
			<path d="M0 198 L129.17 198 L136.61 184.51 L0 184.49 L0 198 Z" class="st2"/>
		</g>
		<g id="shape28-11" v:mID="28" v:groupContext="shape" transform="translate(-27.0082,192.798) rotate(-90)">
			<title>Sheet.28</title>
			<path d="M0 198 L141.76 197.98 L149.22 184.44 L0 184.49 L0 198 Z" class="st2"/>
		</g>
		<g id="shape29-13" v:mID="29" v:groupContext="shape" transform="translate(-49.8548,192.798) rotate(-90)">
			<title>Sheet.29</title>
			<path d="M0 198 L154.37 197.9 L161.8 184.45 L0 184.49 L0 198 Z" class="st2"/>
		</g>
		<g id="shape30-15" v:mID="30" v:groupContext="shape" transform="translate(250.799,192.798) rotate(90) scale(-1,1)">
			<title>Sheet.30</title>
			<path d="M0 198 L135.92 198 L169.69 130.46 L0 130.68 L0 198 Z" class="st3"/>
		</g>
		<g id="shape31-17" v:mID="31" v:groupContext="shape" transform="translate(143.132,-5.83216)">
			<title>Sheet.31</title>
			<path d="M0 26.41 A69.2591 65.1218 164.74 0 1 108.91 55.96 A76.8728 70.9071 25.41 1 1 128.32 197.62 L128.32 110.83 A335.662
						 335.662 0 0 1 149.43 131.94 a42.7783 0.427783 90.43 0 1 1.13687E-13 48.29 A62.2632 55.1179 -163.3 1 0 94.55
						 78.41 A45.5864 40.6553 -152.1 0 0 18.57 39.07 A538.46 367.132 0 0 1 0 26.41 Z" class="st4"/>
		</g>
		<g id="shape32-19" v:mID="32" v:groupContext="shape" transform="translate(8.79297E-14,-5.20174)">
			<title>Sheet.32</title>
			<path d="M52.8 198 A71.6244 59.9705 150.26 0 1 18.19 100.07 A67.1397 67.1397 0 0 1 5.52 93.32 A642.166 642.166 -180 0
						 0 47.73 78.12 L45.2 116.95 L32.54 109.36 A39.0048 32.9968 -78.69 0 0 52.8 177.74 L52.8 198 Z" class="st3"/>
		</g>
	</g>
</svg>

