<div _ngcontent-dio-5>
    <rim-result-item _ngcontent-dio-5 _nghost-dio-1>
        <div _ngcontent-dio-1 class="rim-result-item ui vertical segment">
            <div _ngcontent-dio-1 class="content">
                <span _ngcontent-dio-1 class="rim-result-item-title ui header">
                    <a _ngcontent-dio-1 class="rim-result-item-link" href="HTTPS://ITEM/URL/">"Item Search "<mark>Result</mark>" highlighed"</a>
                </span>
                <div _ngcontent-dio-1 class="meta">
                    <a _ngcontent-dio-1 class="rim-result-item-link" href="HTTPS://ITEM/URL/">"HTTPS://ITEM/URL/"</a>
                </div>
                <div _ngcontent-dio-1 class="rim-result-item-description description">
                    <p _ngcontent-dio-1>"search result description "<mark>match</mark>" text"</p>
                </div>
                
            </div>
        </div>
    </rim-result-item>
</div>