---
layout: default
---
{% include post-image.html %}
{% include masthead.html %}
{% include menu.html %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable text container">
      <article>

        <h1>{{ page.title }}</h1>

        <div class="ui two column stackable grid">
          <div class="center aligned row">

            <div id="event-location" class="black column oss starorgs">
              
            </div>

            <div class="teal column oss supurlative">
              <h3>{{ page.eventdate | date: '%B' }} <span>{{ page.eventdate | date: '%-d,' }} </span>{{ page.eventdate | date: '%Y' }}</h3>
              <p>{{ page.location }}</p>
              <div id="event-countdown" class="countdown"></div>
              <a class="ui animated big yellow button" target="_blank" href="https://github.com/ritterim/supurlative">
                <div class="hidden content">Here <i class="icon github"></i></div>
                <div class="visible content">Register</div>
              </a>

            </div>
          </div>
        </div>

        <div class="author">
          Written by {% include articles-authors.html %}

          <div class="time-to-read">
            {% include word-count.html %}
            <i class="icon book"></i> {{ words | plus: 250 | divided_by: 200 }}

          </div><!-- /.time-to-read -->
        </div><!-- /.author -->

        <div class="freshness" data-freshness-datetime="{{ page.date | date_to_xmlschema }}">
          <i class="icon heartbeat freshness-icon-js"></i>
          <em>This post is <span class="freshness-days-old-js"></span> days old.</em>
        </div>

        {{ content }}

        {% include articles-footer.html %}

      </article>

      {% include articles-related.html %}
      <div class="ui hidden divider"></div>
      {% include disqus.html %}

  </div>
</div>
